.about {
    position: relative;
    padding: 100px 0;
    text-align: center;
    font-weight: bold;
    color: white;
}

.about__title {
    font-size: 50px;
    margin-bottom: 30px;
}

.about__description p {
    margin: 20px 0;
    font-size: 24px;
}

.about__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../../img/react.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.3);
}
